*, ::before, ::after 
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html
{
  font-size: 62.5%;
}

body 
{
  font-family: Raleway, Helvetica, sans-serif;
  background: $blanc;
  display: grid;
  grid-template-rows: 800px 450px;
  color: $blanc;
  font-size: 1rem;
}

footer
{
  width: 100%;
  background: $bg;
  grid-area: 2 / 1 / 3 / 2;
  padding: 10px;
  display: flex;
  justify-content: center;
  position: relative;
}

.container
{
  width: 50%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin: -100px auto 0;
}

